<commonDetail [detailData]="databaseConnection">
    <commondetailfield name="Database Connection ID">
        <text [dataobject]="databaseConnection" [property]="'databaseConnectionId'"></text>
    </commondetailfield>
    <commondetailfield name="Database Connection Name">
        <text [dataobject]="databaseConnection" [property]="'databaseConnectionName'"></text>
    </commondetailfield>
    <commondetailfield name="Database Connectionstring">
        <text [dataobject]="databaseConnection" [property]="'databaseConnectionString'"></text>
    </commondetailfield>
</commonDetail>